<h2>Listing products</h2>

<ul class='products'>
<%= for product <- @products do %>
    <li>
      <h3><%= product.name %></h3>
      <td><%= product.price %></td>
      <h4><%= product.description %></h4>
    </li>
<% end %>
</ul>

